/* Write your CSS here */
.bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #150b3e;
  padding: 24px;
  width: 350px;
  border-radius: 15px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
}
.profile-container {
  display: flex;
  align-items: center;
}

.profile {
  background-color: #c7d2fe;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 16px;
  margin-bottom: 18px;
}
.profile-name {
  text-align: center;
  font-weight: 500;
  color: #7c3aed;
  font-size: 16px;
}

.user-name {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  margin-top: 0px;
}

.heading {
  font-size: 22px;
  color: #585076;
  margin-top: 25px;
  font-weight: 500;
}

.balance-card {
  display: flex;
  justify-content: space-between;
}

.balance {
  font-size: 26px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 0px;
  margin-left: 5px;
}

.currency-type {
  color: #585076;
  font-size: 10px;
  font-weight: bold;
}

.withdraw-heading {
  font-size: 22px;
  color: #ffffff;
  font-weight: 500;
}

.withdraw-desc {
  color: #585076;
  font-size: 12px;
  font-weight: 500;
}
.buttons-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
}
